body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
.container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 16px 0;
}
.header-logo {
    color: #2e2f42;
}
.header-container {
    display: flex;
}
.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.menu {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.menu.current {color: #404bbf;}
.menu.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
width: 100%;
}
.nav-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
display: none;
gap: 40px;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu :hover,
.nav-menu :focus, 
.nav-menu :active {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-list {
    display: none; 
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
}
.contacts {
color: #434455;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mob-menu {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link.current {
    color: #404bbf;
}
.nav-mob-menu :focus,
.nav-mob-menu :active {
    color: #404bbf;
}
.mob-menu-item:not(:last-child) {
margin-bottom: 40px;
}
.mob-address {
    font-style: normal;
}
.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* padding: 168px 0 8px 0; */
}
.mob-contacts {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-item {
    color: #434455;
}
.mob-contacts :focus,
.mob-contacts :active {
    color: #404bbf;
}
.icon-mob-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}
.menu-open-btn {
    background: transparent;
    border: none;
}
.mob-menu-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
}
.hero {
    background: #2e2f42;
    padding: 72px 0;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

@media screen and (min-resolution: 2dppx), 
(min-resolution: 192dpi) {
    .hero {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob-2x.jpg); 
    }
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin: 0 auto;
}
.btn {
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
min-width: 169px;
border: none;
border-radius: 4px;
padding: 16px 32px;
display: block;
margin: 72px auto 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    background: #404bbf;
}
.features-wrap {
    padding-top: 96px;
    padding-bottom: 96px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px; 
}
.features-item {
    width: 100%;
}
.features-item-bg {
    display: none;
}
.features {
    font-weight: 700;
font-size: 36px; 
line-height: 1.11111;
text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px; 
}
.features-text {
    font-weight: 500;
}
.team-wrap {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 0 12px;
}
.team-member {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-member:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
    text-align: center;
}
.team-member-text {
    padding: 32px 0;
}
.team-position {
    font-weight: 400px;
text-align: center;
margin-bottom: 8px;
}
.portfolio-wrap {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.portfolio-list-item {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-cover-text {
    transform: translateY(0);
}
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-features {
    text-align: start;
    font-weight: 500;
font-size: 20px; 
line-height: 1.2;
}
.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-cover-text {
    position: absolute;
    height: 100%;
    padding: 40px 32px;
    top: 0;
    background-color: #4d5ae5;
    font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer-wrap {
    padding: 96px 0;
    background: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    text-align: start;
    color: #f4f4fd;
    /* margin-bottom: 16px; */
}
.icon-list {
    display: flex;
    gap: 16px;
}
.icon-team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.icon-item {
    width: 40px;
    height: 40px;
}
.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}
.icon-icon {
    fill: #f4f4fd;
}
.icon-team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-link:hover,
.icon-team-link:focus {
    background-color: #404bbf;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;
}
.footer-logo-text {
 text-align: center;
}
.footer-social-text {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-input {
    border: 1px solid #fff;
border-radius: 4px;
width: 288px;
height: 40px;
background-color: transparent;
padding-left: 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #FFFFFF;
}
.footer-input::placeholder {
color: #FFFFFF;
}
.footer-btn {
    cursor: pointer;
    font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
padding: 8px 24px;
margin: 16px auto;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
border: none;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover {
    background-color: #404bbf;
}
.send-icon {
    fill: #fff;
    margin-left: 16px;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal {
    width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}
.cross-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-field-comment {
    margin-bottom: 16px;
}
.modal-input-wrap {
    position: relative;
}
.modal-input {
    font-size: 12px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-input:focus + .modal-field-icon {
    fill: #4d5ae5;
}
.modal-label {
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
resize: none;
}
.modal-text:focus {
    border-color: #4D5AE5;
}
.modal-field-checkbox {
    margin-bottom: 24px;
}
.check-text {
    display: flex;
    align-items: center;
    font-weight: 400;
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.policy {
    line-height: 1.33;
    text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.check-text-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
flex-shrink: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:focus + .check-text .check-text-icon {
    border-color: #4D5AE5;
}
.modal-check:checked + .check-text .check-text-icon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.form-btn {
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
padding: 16px 32px;
display: block;
align-items: center;
justify-content: center;
margin: 24px auto 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .features-list {
        gap: 72px 24px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
    .features {
        text-align: left;
    }
    .team-list {
        padding: 0 92px;
        gap: 64px 24px;
    }
    .team-member {
        width: calc((100% - 24px) / 2);
    }
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-list-item{
        width: calc((100% - 24px) / 2);
    }
    .hero {
        padding: 112px 0;
        background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-tab.jpg);
    }
    @media screen and (min-resolution: 2dppx), 
(min-resolution: 192dpi) {
    .hero {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-tab-2x.jpg); 
    }
}
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        letter-spacing: 1.07;
    }
    .btn {
        margin: 36px auto 0 auto;
    }
    .nav-menu {
        display: flex;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
    }
    .menu-open-btn {
        display: none;
    }
    .logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .footer-logo-text {
        text-align: start;
    }
    .footer-text {
        max-width: 264px;
    }
    .footer-input {
        width: 264px;
    }
    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: start;
        justify-content: flex-start;
        padding: 0 108px;
    }
    .footer-modal {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
    .footer-btn {
        transform: translateY(20px);
    }
    .footer-social-text {
        text-align: start;
    }
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero {
        max-width: 1440px;
    }
    .btn {
        margin: 48px auto 0 auto;
    }
    .features-list {
        gap: 24px;
    }
    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }
    .features-wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-item-bg {
        display: flex;
        border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    }
    .features-text {
        font-weight: 400;
    }
    .features {
    font-weight: 500;
    text-align: start ;
    font-size: 20px;
    line-height: 1.2;
    }
    p {
        font-weight: 400;
    }
    .team-wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list {
        padding: 0;
        gap: 24px;
    }
    .team-member {
        width: calc((100% - 3 * 24px) / 4);
    }
    .portfolio-wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-list-item{
        width: calc((100% - 2 * 24px) / 3);
        box-shadow: none;
    }
    .hero {
        padding: 188px 0;
        background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
    }
    @media screen and (min-resolution: 2dppx), 
(min-resolution: 192dpi) {
    .hero {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-2x.jpg); 
    }
}
    .logo {
        margin-right: 76px;
    }
    .address-list {
        flex-direction: row;
    padding: 24px 0;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .footer-wrap {
        padding: 100px 0;
    }
    .footer-logo-text {
        margin-right: 120px;
    }
    .footer-content {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
    }
    .footer-social-media {
        margin-right: 80px;
    }
} 